@import "../../../data/styles.css";

.works-body {
	margin-bottom: 10px;
	position: relative;
	width: 100%
}

.work-big {
	display: flex;
	padding-bottom: 40px;
	width: 80vw;
	min-height: 15vh;
}

.work-small {
	display: flex;
	padding-bottom: 40px;
	width: 80vw;
}

.work-image {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	/*outline: 6px solid white;*/
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-title {
	font-size: 15px;
	font-weight: 700;
	padding-left: 20px;
	margin-top: -3px;
	color: var(--secondary-color);
}

.work-subtitle {
	position: absolute;
	font-size: 12px;
	color: var(--secondary-color);
	padding-top: 22px;
	padding-left: 50px;
}

.work-duration {
	position: absolute;
	float: right;
	right: 0;
	font-size: 12px;
	padding-top: 20px;
	padding-right: 20px;
	text-align: right;
	color: var(--tertiary-color);
}

.work-long {
	position: absolute;
	font-size: 12px;
	padding-top: 60px;
	padding-right: 20px;
	color: var(--tertiary-color);
}

@media (max-width: 850px) {
	.work-big {
		display: flex;
		padding-bottom: 40px;
		width: 80vw;
		min-height: 20vh;
	}

	.work-long {
		position: absolute;
		font-size: 12px;
		padding-top: 75px;
		padding-right: 20px;
		color: var(--tertiary-color);
	}

	.work-duration {
		position: absolute;
		float: left;
		left: 0;
		font-size: 12px;
		padding-top: 50px;
		padding-left: 50px;
		padding-bottom: 100px;
		text-align: left;
		color: var(--tertiary-color);
	}

	.work-small {
		display: flex;
		padding-bottom: 40px;
		width: 80vw;
		min-height: 11vh;
	}
}

@media (max-width: 600px) {
	.work-big {
		display: flex;
		padding-bottom: 40px;
		width: 80vw;
		min-height: 25vh;
	}
}