:root {
	/* ------- colors ------- */
	--primary-color: #fff;
	--secondary-color: #f1f1f1;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #49cbff;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
